@import "src/assets/scss/abstracts/_variables.scss";

/* ===== 반응형 Mixin Include 방식 사용시 S ===== */

$mobile-width: 320px;
$tablet-width: 768px;
$tablet-m-width: 990px;
$desktop-width: 1200px;

// 768이하
@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

// 768에서 989까지
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$tablet-m-width - 1px}) {
    @content;
  }
}

// 990부터 1199까지
@mixin tablet_m {
  @media (min-width: #{$tablet-m-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

// PC 1200부터 ~ PC전체
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

/* ===== 반응형 Mixin Include 방식 사용시 E ===== */

// Font
@mixin font($size, $weight, $height: 1px, $color:$bk_11131A) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}

// 글자 줄임
@mixin font_abb {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}

// 글자 숨김
@mixin hide {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

// Position
@mixin posi($x, $y) {
  position: absolute;
  left: $x;
  top: $y;
  
  @if $x ==50% and $y ==50% {
    transform: translate(-50%, -50%);
  } @else if $x ==50% {
    transform: translateX(-50%);
  } @else if $y ==50% {
    transform: translateY(-50%);
  }
}
