@import "src/assets/scss/abstracts/_variables.scss";
@import "src/assets/scss/abstracts/_mixins.scss";
@import "src/assets/scss/abstracts/_typography.scss";
@import "src/assets/scss/layout/main.scss";

// common
* {
  margin: 0;
  padding: 0;
  font-family: $ff_KoPubWorldDotum;
  box-sizing: border-box;
}

